 
  #transparent-color {
    width: 100%;
    min-height: 100%;
    background-color: #00000030;
    position: absolute;
    display: none;
  }

  #form-container {
    display: flex;
    justify-items: center;
    position: absolute;
    margin-top: 20px;
    z-index: 2;
  }
  .form {
    width: 511px;
    height: 450px;
    background: #ededed; 
    border: 1px solid #000000;
    border-radius: 8px;
  }

  .close-form-container {
     display: grid;
     justify-content: flex-end;  

  }
  .close-form {
    width: 26px;
    height: 26px;
    background-color: #D04A4A;
    border-radius: 50%;
    margin: 16px 13px 0 0;
    cursor: pointer;
  }

  .title-form {
    font-size: 22px;
    height: 30px;
    margin: 30px 0 32px 32px;
   } 

  .label-bold{
    font-weight: 600;
  }
  
  .inputs-checked-form {
    margin: 15px 0 20px 32px;
  }
  
  #inputTitle{
    width: 430px;
    height: 40px;
    border: 2px solid black;
    margin-left: 32px;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 10px;
  
}
label{
    margin:10px;
    margin-left: 32px;
    font-weight: 600;
    
}

#typeInformation{
   background-color: #D9D9D9;
   width:225px;
   height: 34px;
   margin-left: 32px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#inputDescription{
  margin-left: 32px;
  width: 430px;
  height: 40px;
  border: 2px solid black;
  margin-left: 32px;
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}  
#btnContainer{
     width: 430px;
     height: 46px;
     background-color: #5b5f6e;
     color: #ffffff;
     margin-left: 33px;
     border-radius: 8px;
     border: none;
     font-weight: 600;
     letter-spacing: 0.5px;
     margin-top: 10px;
   }

   /* media query */

   @media screen and (max-width: 880px) {

    #form-container {
      display: flex;
      justify-items: center;
      position: absolute;
      margin-top: 20px;
      z-index: 2;
    }
    .form {
        width: 450px;
        height: 380px;
        background: #ededed; 
        border: 1px solid #000000;
        border-radius: 8px;
      }
      
      .close-form {
        width: 22px;
        height: 22px;
        background-color: #D04A4A;
        border-radius: 50%;
        margin: 16px 13px 0 0;
        cursor: pointer;
      }
      #inputTitle{
        width: 380px;
        height: 40px;
        border: 2px solid black;
        margin-left: 32px;
        border-radius: 8px;
        padding-left: 16px;
        margin-bottom: 10px;
    }
    #typeInformation{
      background-color: #D9D9D9;
      width:225px;
      height: 30px;
      margin-left: 32px;
      margin-top: 10px;
      margin-bottom: 10px;
   }
   
   #inputDescription{
     margin-left: 32px;
     width: 380px;
     height: 40px;
     border: 2px solid black;
     margin-left: 32px;
     border-radius: 8px;
     padding-left: 16px;
     margin-bottom: 10px;
     margin-top: 10px;
   }
   #btnContainer{
    width: 380px;
    height: 46px;
    background-color: #5b5f6e;
    color: #ffffff;
    margin-left: 33px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }  
}