@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 
body{
  background-color: #FFFFFF;
  display: grid;
  place-items: center;
  height: 100vh;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 180px;
}
input{
    height: 40px;
    width: 220px;
    margin: 10px;
}

.boards-container{
    display: flex;  
    width: 608px;
    height: 500px;
    background-color: #2B2B2B;
}

.container , .containerDoing {
   border-right: 2px solid #414141; 
}
.container , .containerDoing , .containerDone{
   overflow-x:hidden;
   margin-bottom: 10px;
}
::-webkit-scrollbar{
   background-color: #1d1d1d;
   width: 2px;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
::-webkit-scrollbar-thumb{
   background-color: #9AE162;
   border-radius: 2px;

}
.top {
   width: 200px;
   height: 40px;
   background: #141316;
   text-align: center;
}

h3{
   display: flex;
   color: #FFFFFF;
   margin-left: 50px;
   margin-top: 2px;   
}
#one, #zero{
   font-size: 22px;
   font-weight: 100;
   margin: -4px;
   margin-left: 25px;
   margin-top: 1px;
   color: white;
}

span{
   font-size: 12px;
   margin-top: 8px;
   margin-left: 10px;
}  
#NewItem{
   display: flex;
   align-items: center;
   color: #ffffff;
   position: absolute;
   margin-left: 60px;
}
.btn-sum{
   width: 26px;
   height: 26px;
   margin-bottom: 18px;
   margin-top: 5px;
   margin-right: 120px;
   background: #9AE162;
   border: none;
   cursor: pointer;
}

.card-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 800px;
   margin: auto;
   }

.card{
   background-color:rgba(255,255,255, 0.1);
   width: 140px;
   height: 200px;
   border-radius: 4px;
   font-weight: 600;
   font-size: 18px;
   margin-left: 20px;
   margin-bottom: 15px;
}
.card.clicado{
   opacity:0.8;
   background-color:#99e1621c;
}


#BorderCorOption{
   display: block;
   height: 200px;
   width: 3px;
   margin-right:8px;
}

.editCard{
   cursor: pointer; 
   margin-left: 122px;
   display: flex;
   margin-top: 5px;
}

#treinarText{
   font-size: 14px;
   margin-left: 10px; 
   color: #ffffff;
   margin-bottom:5px;
}

.removeCard{
   cursor: pointer;
   border-radius: 50%;
   display: flex;
   width: 22px;
   height:20px;
   float: left;
   margin: -40px;
   margin-left: 115px;
   background-color: #2b2b2b3b;
}

.removeCard:hover{
   transition: 0.5s ease-in-out;
   background: #d04a4ade;
}
p{
   font-size: 12px;
   margin-left: 10px;
   margin-bottom: 5px;
   color: #ffffff;  
}

#tarefas{
   font-size: 11px;
   background-color: #ffffff;
   color: #141316;
   width: 110px;
   margin-left: 14px;

}
#informationText{
   display:grid;
   flex-wrap: wrap;
   width: 120px;
   margin-left: 10px;
   margin-top: 15px;
   overflow: hidden;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   color: #FFFFFF;  
}

#numberCard{   
   display: flex;
   margin-left: 65px;
   font-size: 8px;
   color: #ffffff;
   margin-top: 10px;
}
/* parte do drop arrastar Card */
.dropzone {
   margin-top: 35px;
   min-height: 300px;
}

/* estilização icones do Done */
.mdi-circle-outline, .mdi-check-circle{
   background-color: #9AE162;
   border-radius: 0 0 10px 10px;
   rotate: 20deg 20deg;
   font-size: 1rem;
   color: black;
   cursor: pointer;
   margin-left: 5px;

}
.mdi-check-circle:hover{
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 1px #427388; 
} 
